<form class="form" action="{{path('_valoracion', {videoId:videoId})}}" method="POST">
    <label>
        Valora
    </label>
    <div class="radio">
        <label>
            <input type="radio" name="valoracion" value="1"> &#9734;
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="valoracion" value="2"> &#9734;&emsp;&#9734;
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="valoracion" value="3"> &#9734;&emsp;&#9734;&emsp;&#9734;
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="valoracion" value="4"> &#9734;&emsp;&#9734;&emsp;&#9734;&emsp;&#9734;
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="valoracion" value="5"> &#9734;&emsp;&#9734;&emsp;&#9734;&emsp;&#9734;&emsp;&#9734;
        </label>
    </div>
    <div class="form-group">
    <div class="">
      <button type="submit" class="btn btn-default">Envia</button>
    </div>
  </div>
</form>